# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.reply

# Exclude sensitive var files
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include CLI configuration files
.terraformrc
terraform.rc
